<div id="wrapper">
  <h2>Welcome!</h2>
  <div id="register">
    <h3>Register</h3>
  <!-- Registration form --->
    <form action='/users' method="post">
      <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
      First Name: <input type=text name="first_name"><br>
      Last Name: <input type=text name="last_name"><br>
      Email: <input type=text name="email"><br>
      Password: <input type=password name="password"><br>
      <input type=submit name="register" value="Register">
    </form>
  </div>
<!-- Login form --->
  <div id="login">
  <h3>Login</h3>
    <form action='/login' method="post">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
      Email: <input type=text name="email"><br>
      Password: <input type=password name="password"><br><br>
      <input type=submit name="login" value="Login">
    </form>
  </div>
</div>
